In [50]:
#### Importing Pandas and others and Reading csv file
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd


#Remodified .CSV data to make managing data easier.
Bitcoin = pd.read_csv('HistoricalData3.csv')

#print(Bitcoin.head(5))
#testing the output of the first 5 data sets

In [64]:
#### Read Headers

print(Bitcoin.columns)

## read each columns

print(Bitcoin[['Date', 'High', 'Low']][0:5])

## Print out the first 5 rows of Date, Hihg, and Low only

## Read specific Row from X-X
print(Bitcoin.iloc[5:10])

## look for specfic row, column
print(Bitcoin.iloc[2:1])

#Look for a Specific dataset from Column with the data set less than $100,000 as a test.
Bitcoin.loc[Bitcoin['High'] < 100000]

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap',
       'Daily Average'],
      dtype='object')
           Date      High       Low
0  Feb 09, 2021  48003.72  45166.96
1  Feb 08, 2021  46203.93  38076.32
2  Feb 07, 2021  39621.84  37446.15
3  Feb 06, 2021  40846.55  38138.39
4  Feb 05, 2021  38225.91  36658.76
           Date      Open      High       Low     Close       Volume  \
5  Feb 04, 2021  37475.10  38592.18  36317.50  36926.06  68838074392
6  Feb 03, 2021  35510.82  37480.19  35443.98  37472.09  61166818159
7  Feb 02, 2021  33533.20  35896.88  33489.22  35510.29  63088585433
8  Feb 01, 2021  33114.58  34638.21  32384.23  33537.18  61400400660
9  Jan 31, 2021  34270.88  34288.33  32270.18  33114.36  52754542671

     Market Cap  Daily Average
5  687542752523      37454.840
6  697672910488      36462.085
7  661114581664      34693.050
8  624349044409      33511.220
9  616452744533      33279.255
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap, Daily Average]
Index: []

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Average
0,"Feb 09, 2021",46184.99,48003.72,45166.96,46481.10,91809846886,865682956619,46585.340
1,"Feb 08, 2021",38886.83,46203.93,38076.32,46196.46,101467222687,860342706260,42140.125
2,"Feb 07, 2021",39250.19,39621.84,37446.15,38903.44,65500641143,724478833211,38533.995
3,"Feb 06, 2021",38138.39,40846.55,38138.39,39266.01,71326033653,731192490093,39492.470
4,"Feb 05, 2021",36931.55,38225.91,36658.76,38144.31,58598066402,710266752534,37442.335
...,...,...,...,...,...,...,...,...
2838,"May 04, 2013",98.10,115.00,92.50,112.50,0,1250316563,103.750
2839,"May 03, 2013",106.25,108.13,79.10,97.75,0,1085995169,93.615
2840,"May 02, 2013",116.38,125.60,92.28,105.21,0,1168517495,108.940
2841,"May 01, 2013",139.00,139.89,107.72,116.99,0,1298954594,123.805
2842,"Apr 30, 2013",144.00,146.93,134.05,139.00,0,1542813125,140.490

In [64]:
#### Read Headers

print(Bitcoin.columns)

## read each columns

print(Bitcoin[['Date', 'High', 'Low']][0:5])

## Print out the first 5 rows of Date, Hihg, and Low only

## Read specific Row from X-X
print(Bitcoin.iloc[5:10])

## look for specfic row, column
print(Bitcoin.iloc[2:1])

#Look for a Specific dataset from Column with the data set less than $100,000 as a test.
Bitcoin.loc[Bitcoin['High'] < 100000]

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap',
       'Daily Average'],
      dtype='object')
           Date      High       Low
0  Feb 09, 2021  48003.72  45166.96
1  Feb 08, 2021  46203.93  38076.32
2  Feb 07, 2021  39621.84  37446.15
3  Feb 06, 2021  40846.55  38138.39
4  Feb 05, 2021  38225.91  36658.76
           Date      Open      High       Low     Close       Volume  \
5  Feb 04, 2021  37475.10  38592.18  36317.50  36926.06  68838074392
6  Feb 03, 2021  35510.82  37480.19  35443.98  37472.09  61166818159
7  Feb 02, 2021  33533.20  35896.88  33489.22  35510.29  63088585433
8  Feb 01, 2021  33114.58  34638.21  32384.23  33537.18  61400400660
9  Jan 31, 2021  34270.88  34288.33  32270.18  33114.36  52754542671

     Market Cap  Daily Average
5  687542752523      37454.840
6  697672910488      36462.085
7  661114581664      34693.050
8  624349044409      33511.220
9  616452744533      33279.255
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Market Cap, Daily Average]
Index: []

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Average
0,"Feb 09, 2021",46184.99,48003.72,45166.96,46481.10,91809846886,865682956619,46585.340
1,"Feb 08, 2021",38886.83,46203.93,38076.32,46196.46,101467222687,860342706260,42140.125
2,"Feb 07, 2021",39250.19,39621.84,37446.15,38903.44,65500641143,724478833211,38533.995
3,"Feb 06, 2021",38138.39,40846.55,38138.39,39266.01,71326033653,731192490093,39492.470
4,"Feb 05, 2021",36931.55,38225.91,36658.76,38144.31,58598066402,710266752534,37442.335
...,...,...,...,...,...,...,...,...
2838,"May 04, 2013",98.10,115.00,92.50,112.50,0,1250316563,103.750
2839,"May 03, 2013",106.25,108.13,79.10,97.75,0,1085995169,93.615
2840,"May 02, 2013",116.38,125.60,92.28,105.21,0,1168517495,108.940
2841,"May 01, 2013",139.00,139.89,107.72,116.99,0,1298954594,123.805
2842,"Apr 30, 2013",144.00,146.93,134.05,139.00,0,1542813125,140.490

In [66]:
Bitcoin['Daily Average'] = Bitcoin.iloc[:, 2:4].sum(axis=1)/2

print(Bitcoin[['Date', 'High', 'Daily Average']])


#testing to see if row 1 Yearly average = high+low divided by 2. For the purpose of this data analysis
#For the purpose of this Analysis, I removed all $-signs and Comma-signs out of my .csv file for
#simplicity's sake when managing the data.

48003.72+45166.96

              Date      High  Daily Average
0     Feb 09, 2021  48003.72      46585.340
1     Feb 08, 2021  46203.93      42140.125
2     Feb 07, 2021  39621.84      38533.995
3     Feb 06, 2021  40846.55      39492.470
4     Feb 05, 2021  38225.91      37442.335
...            ...       ...            ...
2838  May 04, 2013    115.00        103.750
2839  May 03, 2013    108.13         93.615
2840  May 02, 2013    125.60        108.940
2841  May 01, 2013    139.89        123.805
2842  Apr 30, 2013    146.93        140.490

[2843 rows x 3 columns]

93170.68